/* MOBILE */
html,
body {
  font-family: Open Sans, sans-serif;
  text-align: center;
  height: 100%;
}
.nav-item {
  text-decoration: none;
  margin: 2rem;
  color: black;
  font-family: Open Sans, sans-serif;
  font-weight: 100;
  cursor: pointer;
  border-color: transparent transparent #000;
}
.title {
  font-size: calc(2.5rem + 1vw);
}

.second-title {
  font-size: calc(2rem + 1vw);
}

.third-title {
  font-size: calc(0.75rem + 1vw);
}

.text {
  font-size: calc(1rem + 0.5vw);
  color: #28282978;
  font-weight: 300;
}

.skill {
  height: 3rem;
  margin: 1rem;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin-top: 4rem;
}
.contact-text {
  display: none;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
}

.portfolio-item {
  width: 80vw;
  border-radius: 8px;
  margin: auto;
  padding: 1rem;
}

/* TABLET */
@media screen and (min-width: 412) {
  .portfolio-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 2rem;
    width: 90%;
    margin-top: 4rem;
    margin: auto;
  }

  .portfolio-item {
    margin: auto;
    padding: 1rem;
    width: 80vw;
  }
}

/* DESKTOP */
@media screen and (min-width: 769px) {
  .title {
    font-size: calc(3rem + 1vw);
  }

  .contact-grid-item {
    height: 5rem;
    margin: 1rem;
  }

  .contact-text {
    display: inline-block;
  }

  .contact-details {
    margin: 1rem;
  }
  .portfolio-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 2rem;
    width: 100%;
    margin-top: 4rem;
    margin: auto;
  }

  .portfolio-item {
    margin: auto;
    padding: 0rem;
    width: 100%;
  }
}
